version: "3.8"
services:
  db:
    image: mariadb:latest
    ports:
      - 3306:3306
    volumes:
      - ./db:/var/lib/mysql:Z
    environment:
      MYSQL_DATABASE: books
      MYSQL_USER: bookbot
      MYSQL_PASSWORD: 
      MYSQL_ROOT_PASSWORD: 

  bot:
    build: .
    depends_on:
      - db
    environment:
      DISCORD_TOKEN: 
      MYSQL_DATABASE: books
      MYSQL_USER: bookbot
      MYSQL_PASSWORD: 
      GOODREADS_KEY: 
      GOODREADS_SECRET: 